<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h1 class="mt-5">Add new bookmark</h1>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit "Add a new bookmark", class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
